<% layout('layout') -%>
<% script('/javascripts/router/admin/companiesRoute.js') -%>
<% script('/javascripts/router/admin/newcompanyRoute.js') -%>
<% script('/javascripts/controllers/admin/companiesController.js') -%>
<% script('/javascripts/controllers/admin/companyController.js') -%>
<% script('/javascripts/controllers/admin/newcompanyController.js') -%>
<% script('/javascripts/views/admin/companyView.js') -%>
<% script('/javascripts/views/admin/newcompanyView.js') -%>

<script type="text/x-handlebars" data-template-name="companys">
	{{outlet headerBar}}
	<div class="container">
		<h2> Company Listing</h2>
		<hr />
		<table class="table  table-responsive table-bordered table-responsive">
			<tr>
				<th class="col-sm-1 text-center"> Index</th>
				<th class="col-sm-2 text-center"> Name</th>
				<th class="text-center"> Description</th>
				<th class="col-sm-1 text-center"> Actions</th>
			</tr>			
			{{#each itemController="company"}}
				{{#view UpRaise.CompanyView contentBinding="this"}}
					{{#if isEditing}}
						
							<td> {{view.adjustedIndex}}</td>
							<td> {{input type="text" classNames="col-sm-2 form-control" placeholder="Enter Company name" value=name }} </td>
							<td> {{textarea classNames="form-control" placeholder="Enter Details" value=description }} </td>
							<td>
								<a {{action "cancelRow"}} href="#">Cancel</a>
								<a {{action "saveRow" target=view}} href="#">Save</a>
							</td>					
					{{else}}
						<td> {{view.adjustedIndex}} </td>
								<td> {{name}} </td>
								<td> {{description}} </td>								
								<td>
									<a {{action "editRow"}} href="#"> Edit </a>			
									<a {{action "showDeleteModal"}} href="#"> Delete </a>
								</td>
					{{/if}}
				{{/view}}
			{{/each}}			
		</table>
		<div class="text-right">
			<button type="submit" class="btn btn-primary" {{action add}}>Add Company</button>
		</div>
	</div>
	{{outlet	}}		
</script>
<script type="text/x-handlebars" data-template-name="newcompany">
	{{outlet headerBar}}
	<div class="container">
			<h2> Setup New Company</h2>
			<hr />
		<div class="col-md-8">
			<form role="form">
				<div class="form-group">
					<label for="companyName">Name</label>
					{{input type="text" class="form-control" id="companyName" placeholder="Enter Name" value=name }}
				</div>
				<div class="form-group">
					<label for="description">Description</label>
					{{textarea type="password" class="form-control" id="description" placeholder="Enter description" value=description }}
				</div>
				<!-- <div class="form-group">
					<label for="exampleInputFile">File input</label>
					<input type="file" id="exampleInputFile">
					<p class="help-block">Example block-level help text here.</p>
				</div>
				<div class="checkbox">
					<label>
					<input type="checkbox"> Check me out
					</label>
				</div> -->
				<button type="submit" class="btn btn-primary" {{action add target=view}}>Create Company</button>
			</form>
		</div>
	</div>		
		
</script>
<script type="text/x-handlebars" data-template-name="save-modal">
	<p class="text-info"><strong>Are you sure? </strong></p>
</script>
<script type="text/x-handlebars" data-template-name="delete-modal">
	<p class="text-warning"><strong>Are you sure you want to delete?</strong></p>
	<p class="text-info"><em>This action is irreversible.</em></p>
</script>
