<% layout('layout') -%>
<% script('/javascripts/models/company.js') -%>
<% script('/javascripts/router/admin/companysetupRoute.js') -%>
<% script('/javascripts/controllers/admin/companysetupController.js') -%>
<!-- <% script('/javascripts/views/admin/companysetupView.js') -%> -->

<script type="text/x-handlebars" data-template-name="companysetup">
	{{outlet headerBar}}
	<div class="container">
			<h2> Setup New Company</h2>
			<hr />						
	</div>		
		
</script>
