<% layout('../layout') -%>
<% script('/javascripts/router/admin/teamsRoute.js') -%>

<% script('/javascripts/controllers/admin/teamsController.js') -%>
<% script('/javascripts/views/admin/teamsView.js') -%>


<script type="text/x-handlebars" data-template-name="teams">
	{{outlet "headerBar"}}

	
	{{outlet}}
	
	
	
</script>

<script type="text/x-handlebars" data-template-name="teams/index">
	
	<div class="container">
	<ul class="nav nav-pills">
  <li>
    <a href="/admin/employees">Employees</a>
  </li>
  <li><a href="/admin/departments">Departments</a></li>
  <li class="active"><a href="/admin/teams">Teams</a></li>
  <li ><a href="/admin/cycles">Cycles</a></li>
    <li><a href="/admin/permissions">Permissions</a></li>
    
	</ul>
		<hr />
		<table class="table table-bordered table-responsive">
			<tr>
				<th class="col-sm-1 text-center"> Index</th>
				<th class="col-sm-1 text-center"> Name</th>
				<th class="col-sm-2 text-center"> Description</th>
				<th class="col-sm-2 text-center"> Actions</th>
			</tr>			
			{{#each }}
				{{#view UpRaise.TeamsView contentBinding="this" tagName="tr"}}
					<td> {{view.adjustedIndex}} </td>
					<td> {{name}} </td>
					<td> {{description}} </td>
					<td>
						<a {{action "showEditModal" this target="view" }} href="#"> Edit </a> |			
						<a {{action "showDeleteModal" this target="view" }} href="#"> Delete </a>			
					</td>					
				{{/view}}
			{{/each}}			
		</table>
		<div class="text-right">

				<button type="submit" class="btn btn-primary" {{action "showAddModal" target="view"}}>Add New Team</button></div>
			
		</div>
	</div>
</script>



<script type="text/x-handlebars" data-template-name="add-modal">
	
	
		
			
				<div class="form-group">
					<label for="txtDeptName">Team Name</label>
					{{input type="text" class="form-control" id="txtTeamName" placeholder="Enter Name" valueBinding='targetObject.teamInContext.name' }}
					
				</div>
				<div class="form-group">
					<label for="txtDeptDescription">Descritipn</label>
					{{textarea type="textarea" rows="4" cols="50" class="form-control" id="txtTeamDescription" placeholder="Enter Description" valueBinding='targetObject.teamInContext.description' }}
					
				</div>

		
				

</script>
<script type="text/x-handlebars" data-template-name="delete-modal">
	<p class="text-warning"><strong>Are you sure you want to delete?</strong></p>
	<p class="text-info"><em>This action is irreversible.</em></p>
</script>
<script type="text/x-handlebars" data-template-name="edit-modal">
<div class="form-group">
					<label for="txtTeamName"> Name</label>
					{{input type="text" class="form-control" id="txtTeamName" placeholder="Enter Name" valueBinding='targetObject.teamInContext.name' }}
					
				</div>
				<div class="form-group">
					<label for="txtTeamDescription">Descritipn</label>
					{{textarea type="textarea" rows="4" cols="50" class="form-control" id="txtTeamDescription" placeholder="Enter Description" valueBinding='targetObject.teamInContext.description' }}
					
				</div>
</script>