<% layout('layout') -%>
<% script('/javascripts/router/dashboardRoute.js') -%>
<% script('/javascripts/controllers/dashboardController.js') -%>
<% script('/javascripts/controllers/teamuserController.js') -%>
<% script('/javascripts/controllers/goalController.js') -%>
<% script('/javascripts/controllers/reviewDocumentController.js') -%>
<% script('/javascripts/controllers/notesController.js') -%>
<% script('/javascripts/controllers/noteController.js') -%>
<% script('/javascripts/views/goalView.js') -%>
<% script('/javascripts/views/noteView.js') -%>

<script type="text/x-handlebars" data-template-name="dashboard">
	
	{{outlet headerBar}}
	<div class="container">
		<div>
			{{#if isreviewdocument}}
				<a href="#" {{action gotoKRA}} ><h2> My Goals </h2></a>
				<hr />
				<div>
					<table class="table table-responsive table-bordered table-responsive">
						<tr>
							<th class="col-sm-1 text-center"> Index</th>
							<th class="col-sm-2 text-center"> KRA</th>
							<th class="col-sm-2 text-center"> Goal-Type</th>
							<th class="text-center"> Description</th>
							<th class="col-sm-1 text-center"> Weight</th>
							
						</tr>
						{{#each goal in reviewdocument.goals itemController="goal"}}
							{{#view UpRaise.GoalView contentBinding="this"}}
								<td> {{view.adjustedIndex}} </td>
								<td> {{kra}} </td>
								<td> {{type}} </td>
								<td> {{description}} </td>
									
								<td class="text-center"> {{weight}}% </td>
							{{/view}}
						{{/each}}					
					</table>
				</div>
			{{else}}
				<h2> Your goals are not set. Click below to set goals. </h2>
				<button class="btn btn-primary btn-md" id="btnSetGoals" {{action 'createReviewDoc'}}>Set Goals</button>				
			{{/if}}
			<h2> My Notes</h2>
			
			<hr />	
			<div>
				<table class="table  table-bordered table-responsive">
					<tr>
						<th class="col-sm-1 text-center">Index</th>
						<th class="col-sm-2 text-center">Added</th>
						<th class="text-center">Description</th>
						<th class="col-sm-1 text-center"></th>
					</tr>
					{{#each note in notes itemController="note"}}
						{{#view 'note'}}
							<tr>
								<td> {{view.adjustedIndex}}</td>
								<td> {{addedOn}}</td>
								<td> 
									{{description}}</td>
								<td> <a href="#" {{action 'showDeleteModal'}}>Delete</a>
							</tr>
						{{/view}}
					{{/each}}
					{{#if showAddNote}}
						<tr>
							<td> </td>
							<td> </td>
							<td> {{textarea type="text" classNames="form-control" placeholder="Enter Note" value=description }} </td>
							<td></td>
						</tr>
					{{/if}}
				</table>
					{{#if showAddNote}}
						<button class="btn btn-primary btn-md" id="btnSaveNote" {{action 'saveNote'}}>Save</button>
						<button class="btn btn-normal btn-md" id="btnCancelNote" {{action 'cancelNote'}}>Cancel</button>
					{{else}}
						<button class="btn btn-primary btn-md" id="btnSaveNote" {{action 'showAddNote'}}>Add Note</button>
					{{/if}}
			</div>
			{{#if showTeam}}			
				<h2> My Team</h2>
				<hr />
				<div class="col-md-8">
					<table class="table table-bordered table-responsive">
						<tr>
							<th class="col-md-4 text-center">Name</th>
							<th class="col-sm-3 text-center">Due date</th>
							<th class="text-center">Actions</th>
						</tr>

						{{#each teamuser in teamusers itemController='teamuser'}}
								{{#if teamuser.isAppraisalDue}}			
								<tr class="danger">
									<td>
										<a href="#" {{action kra }}>{{teamuser.name}}</a></td>
									<td> {{ reviewdate }}</td>
									<td> 
										<a href="#" {{action review }}> Review Now</a></td>
								</tr>
							{{else }}
								{{#if teamuser.areGoalsSet}}

									<tr>
										<td>
											<a href="#" {{action kra }}>{{teamuser.name}}</a></td>
										<td> {{ reviewdate }}</td>
										<td> 
											<a href="#" {{action kra }}> View Goals</a>
											<a href="#" {{action diary }}> View Diary</a>
										</td>
									</tr>
								{{else}}
									<tr>
										<td>
											<a href="#" {{action history }}>{{teamuser.name}}</a></td>
										<td> {{ reviewdate }}</td>
										<td></td>
									</tr>							
								{{/if}}
							{{/if}}
								
						{{/each}}					
					</table>
				</div>
				<div class="col-md-4"> </div>
			{{/if}}
		</div>
	</div>
</script>
<script type="text/x-handlebars" data-template-name="delete-modal">
	<p class="text-warning"><strong>Are you sure you want to delete?</strong></p>
	<p class="text-info"><em>This action is irreversible.</em></p>
</script>
