<% layout('layout') -%>
<% script('/javascripts/models/goal.js') -%>
<% script('/javascripts/models/dashboard.js') -%>
<% script('/javascripts/models/note.js') -%>
<% script('/javascripts/models/teamuser.js') -%>
<% script('/javascripts/models/reviewDocument.js') -%>
<% script('/javascripts/router/dashboardRoute.js') -%>
<% script('/javascripts/controllers/dashboardController.js') -%>
<% script('/javascripts/controllers/teamuserController.js') -%>
<% script('/javascripts/controllers/goalController.js') -%>
<% script('/javascripts/controllers/reviewDocumentController.js') -%>
<% script('/javascripts/views/goalView.js') -%>

<script type="text/x-handlebars" data-template-name="dashboard">
	<div class="container">
		{{outlet headerBar}}
		<div class="col-md-4">
			<h2> My Team</h2>
			<hr />
			<div>
				<table class="table table-bordered table-responsive">
					<tr>
						<th class="col-sm-3 text-center">Name</th>
						<th class="col-sm-3 text-center">Due date</th>
						<th class="col-sm-3 text-center">Actions</th>
					</tr>

					{{#each teamuser in teamusers itemController='teamuser'}}
							{{#if teamuser.isAppraisalDue}}			
							<tr class="danger">
								<td>
									<a href="#" {{action kra }}>{{teamuser.name}}</a></td>
								<td> {{ reviewdate }}</td>
								<td> 
									<a href="#" {{action review }}> Review Now</a></td>
							</tr>
						{{else }}
							{{#if teamuser.areGoalsSet}}

								<tr>
									<td>
										<a href="#" {{action kra }}>{{teamuser.name}}</a></td>
									<td> {{ reviewdate }}</td>
									<td> 
										<a href="#" {{action kra }}> View Goals</a></td>
								</tr>
							{{else}}
								<tr>
									<td>
										<a href="#" {{action history }}>{{teamuser.name}}</a></td>
									<td> {{ reviewdate }}</td>
									<td></td>
								</tr>							
							{{/if}}
						{{/if}}
							
					{{/each}}					
				</table>
			</div>
			<h2> My Notes	<small><a class="glyphicon glyphicon-plus pull-right">Add-Note</a></small></h2>
			
			<hr />	
			<div>
				<table class="table table-striped table-bordered table-responsive">
					<tr>
						<th>Index</th>
						<th class="col-sm-3">Added-on</th>
						<th class="text-center">Description</th>
					</tr>
					<tr>
						<td> 19</td>
						<td> 12th Jun 13</td>
						<td> 
							Conducted FG 13 training on test automation practices.</td>
					</tr>
					<tr>
						<td> 18</td>
						<td> 11th Jun</td>
						<td> Company meeting.</td>
					</tr>
					<tr>
						<td> 17</td>
						<td> 04th May</td>
						<td> Financial planning meeting session 1 conducted.</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="col-md-8">
			<h2> My Goals <small><a class="initialism pull-right" href="#" {{action kra }} >Show Details</a></small> </h2>
			<hr />
			<div>
				<table class="table table-striped table-responsive table-bordered table-responsive">
					<tr>
						<th class="text-center"> KRA</th>
						<th class="text-center"> Goal-Type</th>
						<th class="text-center"> Description</th>
					</tr>
					{{#each goal in goals itemController="goal"}}
						{{#view UpRaise.GoalView contentBinding="this"}}
							<td> {{kra}}</td>
							<td> {{type}}</td>
							<td> 
								{{description}}
							</td>
						{{/view}}
					{{/each}}					
				</table>
			</div>
		</div>
	</div>
</script>