extends layout

block content

	div
		div.alert.alert-info Your Review submission is pending. <a> Click Here </a> to complete
		hr
	div.col-md-4
		h2 My Team
		hr
		div
			table.table.table-bordered.table-responsive
				tr
					th.col-sm-3.text-center Name
					th.col-sm-3.text-center Due date   
					th.col-sm-3.text-center Actions
				tr.danger
					td 
						a Varun Jain
					td 12th Oct 13
					td 
						a Review Now
				tr
					td 
						a Aashay Sambhe
					td 12th Nov 13
					td 
						a Show Details
				tr
					td 
						a Varun Jain
					td Pending
					td 
						a Set Goals			
			
		
		h2 My Notes	<small><a class="glyphicon glyphicon-plus pull-right">Add-Note</a></small>
		
		hr	
		div
			table.table.table-striped.table-bordered.table-responsive
				tr
					th Index
					th.col-sm-3 Added-on   
					th.text-center Description
				tr
					td 19
					td 12th Jun 13
					td 
						Conducted FG 13 training on test automation practices.
				tr
					td 18
					td 11th Jun
					td Company meeting.
				tr
					td 17
					td 04th May
					td Financial planning meeting session 1 conducted.			
	div.col-md-8
		h2 My Goals <small><a class="initialism pull-right" href="#">Show Details</a></small>
		hr
		div
			table.table.table-striped.table-responsive.table-bordered.table-responsive
				tr
					th.text-center Index
					th.text-center KRA
					th.text-center Goal-Type
					th.text-center Description
				tr
					td 1
					td Company Roadmap
					td Organization
					td 
						ul
							li Ensure meetings for company roadmap occurs bi-weekly.
							li Track and guide Product management organization to achieve goals set
							li Track and guide Services organization to achieve goals set
				tr
					td 2
					td Company Goals
					td Organization
					td 
						ul
							li Build company goals for year 2010-11.
							li Publish goals to sales, hr, admin, products and services teams
				tr
					td 3
					td Company Finance
					td Organization
					td 
						ul
							li Setup company financial report publish to stake holders.
							li Increase per person revenue by 10%.
				tr
					td 2
					td Training of Fg13
					td Self
					td 
						ul
							li Take 5 lectures per term to inculcate better programming techniques in the organization.
							li Spend time with selected candidates to nurture leaders in the organization.
		