extends layout

block content

	div
		div.alert.alert-info Your Review submission is pending. <a> Click Here </a> to complete
		hr
	h2 My Goals <small>Incomplete/Pending/Approved</small>

	hr
	div
		table.table.table-striped.table-responsive.table-bordered.table-responsive
			tr
				th.text-center Index
				th.text-center KRA
				th.text-center Goal-Type
				th.text-center Description
				th.text-center Weightage
				th.text-center Actions
			tr
				td 1
				td Company Roadmap
				td Organization
				td 
					ul
						li Ensure meetings for company roadmap occurs bi-weekly.
						li Track and guide Product management organization to achieve goals set
						li Track and guide Services organization to achieve goals set
				td.text-center 10%					
				td
					a Edit 
					a Delete
			tr
				td 2
				td Company Goals
				td Organization
				td 
					ul
						li Build company goals for year 2010-11.
						li Publish goals to sales, hr, admin, products and services teams
				td.text-center 10%					
				td
					a Edit 
					a Delete
			tr
				td 3
				td Company Finance
				td Organization
				td 
					ul
						li Setup company financial report publish to stake holders.
						li Increase per person revenue by 10%.
				td.text-center 10%					
				td
					a Edit 
					a Delete
			tr
				td 4
				td Training of Fg13
				td Self
				td 
					ul
						li Take 5 lectures per term to inculcate better programming techniques in the organization.
						li Spend time with selected candidates to nurture leaders in the organization.
				td.text-center 10%					
				td
					a Edit 
					a Delete
		a.glyphicon.glyphicon-plus Add-Another
		button.btn.btn-primary.btn-md.pull-right Save