extends layout

block content
	div
		table.table.table-striped.table-responsive.table-bordered.table-responsive
			tr
				th.text-center Index
				th.text-center Appraisal Period
				th.text-center Self Rating
				th.text-center Manager Rating
				th.text-center Actions
			tr
				td.text-center 1
				td.text-center Apr 10 - Sep 10
				td.text-center 2.5 / 5
				td.text-center 3 / 5
				td.text-center
					a View Details						
			tr
				td.text-center 2
				td.text-center Oct 09 - Mar 10
				td.text-center 2.5 / 5
				td.text-center 3 / 5
				td.text-center
					a View Details
			tr
				td.text-center 3
				td.text-center Apr 09 - Sep 09
				td.text-center 2.5 / 5
				td.text-center 3 / 5
				td.text-center
					a View Details			