<% layout('layout') -%>
<% script('/javascripts/router/reviewDocumentRoute.js') -%>
<% script('/javascripts/controllers/reviewDocumentController.js') -%>
<% script('/javascripts/controllers/goalsController.js') -%>
<% script('/javascripts/controllers/goalController.js') -%>
<% script('/javascripts/views/goalView.js') -%>
<% script('/javascripts/infra/jquery.ajaxfileupload.js') -%>
<% script('/javascripts/infra/bootstrap.file-input.js') -%>

<script type="text/x-handlebars" data-template-name="reviewdocument">
	{{outlet headerBar}}

<% if (!isUserExists) {%>

	<div class="container">
	<div class="bs-callout bs-callout-danger">
	<h4> User does not exists</h4>

	</div>
	</div>

<%}
else	{%>

	<div class="container">

		<% if (isReviewerMode) {%>

			<div class="alert alert-warning">
			<h4> You are in reviewer mode</h4>
			</div>
		<%}%>

		<div class='form-inline'>

			<h3> KRA of <strong><%= employee.firstName + ' '+ employee.lastName%> </strong>  for Cycle
			<div class='form-group'>
			  	{{view Ember.Select
				       contentBinding='registeredCycles'
				       optionValuePath="content.id"							
				       optionLabelPath="content.name"
				       valueBinding="currentCycleId"	
				       
				}}
				
			</div>
			</h3>
		</div>
			      		
					
		<hr />


{{#if isCreateNewMode}}
		{{partial "create"}}
{{else}}
		{{render goals}}
{{/if}}
	</div>

	<%}%>

</script>
<script type="text/x-handlebars" data-template-name="create">

	<h3> Your KRA is not set for this cycle. Click below to Add KRA or change cycle. </h3>
				<button class="btn btn-success btn-md" id="btnSetGoals"
				 {{action 'createReviewDoc' '<%= user._id %>'}}>Add KRA</button>		
</script>

<script type="text/x-handlebars" data-template-name="goals">			

{{#unless isCreateNewMode}}			
	<% if (user) { %>
		<table class="table table-responsive table-bordered">
			<tr>
				<th class="col-sm-1 text-center"> Index</th>
				<th class="col-sm-2 text-center"> KRA</th>
				<th class="col-sm-2 text-center"> Goal-Type</th>
				<th class="text-center"> Description</th>
				<th class="col-sm-1 text-center"> Weight</th>
				<th class="col-sm-1 text-center"> Actions</th>
			</tr>			
			{{#each itemController="goal"}}
				{{#view UpRaise.GoalView contentBinding="this"}}
					{{#if isEditing}}
				
						<td> {{view.adjustedIndex}}</td>
						<td> {{input type="text" classNames="col-sm-2 form-control" placeholder="Enter KRA" value=kra }} </td>
						<td> {{input type="text" classNames="col-sm-2 form-control" placeholder="Enter goal type" value=type }} </td>
						<td> {{textarea classNames="form-control" placeholder="Enter Details" value=description }} </td>
						<td class="col-sm-1 text-center"> {{input type="text" classNames="form-control" placeholder="Eg: 10 %" value=weight }} </td>
						<td>
							<a {{action "cancelRow"}} href="#">Cancel</a>
							<a {{action "saveRow" target=view}} href="#">Save</a>
						</td>
					
					{{ else }}
					
						<td> {{view.adjustedIndex}} </td>
						<td> {{kra}} </td>
						<td> {{type}} </td>
						<td> {{description}} </td>
							
						<td class="text-center"> {{weight}}% </td>
						<td>
							<% if (isReviewerMode === false) { %>
								<a {{action "editRow"}} href="#"> Edit </a>									
								<a {{action "showDeleteModal"}} href="#"> Delete </a>
							<% } %>
						</td>								
					
					{{/if}}
				{{/view}}
			{{/each}}
			{{#bs-modal name="rejectModal" fade=true footerButtonsBinding="rejectModalButtons" title="Warning"}}
				<p class="text-warning"><strong>Please add reason for rejecting the goals.</strong></p>
				{{textarea classNames="form-control" id="reject-description" placeholder="Enter Details"  value=rejecttext}}	
			{{/bs-modal}}
				
			{{#if showAddRow}}
				<tr>
					<td> {{nextIndex}} </td>
					<td> {{input type="text" classNames="form-control" id="new-kra" placeholder="Enter KRA" value=kra }} </td>
					<td> {{input type="text" classNames="form-control" id="new-type" placeholder="Enter goal type" value=type }} </td>
					<td> {{textarea classNames="form-control" id="new-description" placeholder="Enter Details" value=description }} </td>
					<td class="text-center"> {{input type="text" classNames="form-control" id="new-weight" placeholder="Eg: 10 %" value=weight }} </td>
					<td>
					
						<a {{action "cancelRow"}} href="#">Cancel</a>
						<a {{action "saveRow"}} href="#">Save</a>
					</td>
				</tr>
			{{/if}}
				<tr>
					<td></td>
					<td></td>
					<td></td>
						<td class="text-right success">Total (Must equal 100)</td>
						<td class="text-center">{{totalWeight}}%</td>
					<td></td>
				</tr>
		</table>
		
		<% if (isReviewerMode == false) { %>
			
			<div class="col-md-4 text-left">
				<button class="btn btn-success btn-md" id="btnSubmitGoals" {{action 'showAddGoalRow'}}>Add Goal</button>
			</div>
			<div class="text-right btn-toolbar col-md-8">
				{{#if showReset}}
					<button class="btn btn-warning btn-md" id="btnShowReset" {{action 'showResetModal'}}>Reset</button>
				{{/if}}
								
				{{#if showSubmit}}
						<button class="btn btn-primary btn-md" id="btnSubmitGoals" {{action 'requestApproval'}}>Submit for Approval</button>
				{{/if}}
				
				
			</div>
		<%}	else {%>
			{{#unless isApproved}}
			<div class="text-right btn-toolbar">
				<button class="btn btn-primary btn-md" id="btnSubmitGoals" {{action 'approve'}}>Approve</button>
				<button class="btn btn-warning btn-md" id="btnSubmitGoals" {{action 'showRejectModal'}}>Reject</button>
			</div>
			{{/unless}}
		<%}%>
			
	<%}%>
	{{/unless}}
</script>
<script type="text/x-handlebars" data-template-name="delete-modal">
	<p class="text-warning"><strong>Are you sure you want to delete this KRA item?</strong></p>
	<p class="text-info"><em>This action is irreversible.</em></p>
</script>
<script type="text/x-handlebars" data-template-name="save-modal">
	<p class="text-warning"><strong>Are you sure you want to make changes to this KRA item? You will require </strong></p>
	<p class="text-info"><em>This action is irreversible.</em></p>
</script>
<script type="text/x-handlebars" data-template-name="reset-modal">
	<p class="text-warning"><strong>Are you sure you want to reset pending changes?</strong></p>
	<p class="text-info"><em>This action is irreversible.</em></p>
</script>	
<script type="text/x-handlebars" data-template-name="reject-modal">
	<p class="text-warning"><strong>Please add reasons for rejecting the goals.</strong></p>
	{{textarea classNames="form-control" id="reject-description" placeholder="Enter Details"  value=rejecttext}}	
</script>	
<script type="text/x-handlebars" data-template-name="import-modal">
	<label class="error text-danger"></label>
	<p class="text-info"><strong>Select a file to import goals from.</strong></p>
	<p> The file should contain comma delimited values in the following format. </p>
	<p> KRA, Goal Type, Description, Weight </p>
	<input class="btn btn-primary btn-md" type="file" name="btnImportGoals" id="btnImportGoals" />	
</script>