doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div.navbar.navbar-default.navbar-static-top.nav-blue
			div.container			
				div.navbar-collapse.collapse
					ul.nav.navbar-nav
						li
							a(href="/dashboard") Dashboard
						li
							a(href="/goals") My Goals
						li
							a(href="/perfdiary") My Diary
						li
							a(href="/team") My Team
						li
							a(href="/appraisals") Appraisal History
						
					ul.nav.navbar-nav.navbar-right
						if(user)
							li
								a Welcome 
									strong #{user.name}
							li
								a(href="/logout") Logout 
									span.glyphicon.glyphicon-off
		div.container
			if (user)
				block content
			else
				div.text-center
					p You are not logged in. Please login to continue.
					button.btn.btn-primary.btn-lg(onclick="window.location ='/login'") Login

		script(src='/javascripts/jquery/jquery-1.10.2.js')
		script(src='/javascripts/bootstrap/bootstrap.js')
			
	footer
		div.container			
			hr
			p.text-right @Copyright Varun 2013
			