doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div.navbar.navbar-default.navbar-static-top.nav-blue
			div.container			
				div.navbar-header
					a.navbar-brand Dashboard
				div.navbar-collapse.collapse
					ul.nav.navbar-nav
						li
							a My Goals
						li
							a My Diary
						li
							a My Team
						li
							a Appraisal History
						
					ul.nav.navbar-nav.navbar-right
						li
							a Welcome 
								strong Varun
						li
							a Logout 
								span.glyphicon.glyphicon-off
		div.container
			block content

		script(src='/javascripts/jquery/jquery-1.10.2.js')
		script(src='/javascripts/bootstrap/bootstrap.js')
			
	footer
		p.pull-right @Copyright Varun 2013
			