<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
		<link rel='stylesheet' href='/stylesheets/style.css'/>
	</head>
	<body>
		<script type="text/x-handlebars" data-template-name="header">
			<div class="navbar navbar-default navbar-static-top nav-blue">
				<div class="container">
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li>
								<a href="/dashboard">Dashboard</a>
							</li>
							<li>
								<a href="/kra">My Goals</a>
							</li>
							<li>
								<a href="/perfdiary">My Diary</a>
							</li>
							<li>
								<a href="/team" >My Team</a>
							</li>
							<li>
								<a href="/appraisals" >Appraisal History</a>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<% if(user) { %>
								<li> 
									<a href="/profile">Welcome<strong> <%= user.firstName %></strong></a>
								</li>
								<li>
									<a href="/logout">Logout
										<span class="glyphicon glyphicon-off"></span></a>
								</li>
							<% } %>
						</ul>
					</div>
				</div>
			</div>
			<!--<div class="container">
				<div>
					<div class="alert alert-info"> Your Review submission is pending. <a> Click Here </a> to complete </div>
					<hr />
				</div>	
			</div>-->										
			<div class="container">
				<% if (!user) { %>
					<div class="text-center">
						<p> You are not logged in. Please login to continue. </p>
						<button class="btn btn-primary btn-lg" onclick="window.location ='/login'">Login</button>
					</div>
				<% } %>
			</div>
		</script>
		<%-body -%>
		<script type="text/x-handlebars" data-template-name="footer">
			<footer>
				<div class="container">
					<hr />
					<p class="text-right" >@Copyright Varun 2013</p>
				</div>
			</footer>
		</script>
		<script src='/javascripts/infra/jquery/jquery-1.10.2.js'></script>
		<script src='/javascripts/infra/bootstrap/bootstrap.js'></script>
		<script src='/javascripts/infra/ember/handlebars-1.0.0.js'></script>
		<script src='/javascripts/infra/ember/ember-1.0.0.js'></script>
		<script src='/javascripts/infra/ember/ember-data.js'></script>
		<script src='/javascripts/infra/localstorage_adapter.js'></script>
		<script src='/javascripts/infra/bs-for-ember/bs-core.min.js'></script>
		<script src='/javascripts/infra/bs-for-ember/bs-button.min.js'></script>
		<script src='/javascripts/infra/bs-for-ember/bs-modal.min.js'></script>
		<script src='/javascripts/infra/bs-for-ember/bs-alert.min.js'></script>
		<script src='/javascripts/infra/moment.min.js'></script>
		<script src='/javascripts/app.js'></script>		
		<%-scripts%>
		
	</body>
</html>
			