extends layout

block content

	form(action="/login", method="POST", role="form")
		div.col-md-4
		div.col-md-4
			div.form-group
				label(for="email") Email Address
				input(type="email", id="email", placeholder="Enter email").form-control
			div.form-group
				label(for="password") Password
				input(type="password", id="password", placeholder="Enter Password").form-control
			
			button(type="submit" class="btn btn-primary") Submit	