<% layout('layout') -%>
<% script('/javascripts/router/perfdiaryRoute.js') -%>
<% script('/javascripts/controllers/perfdiaryController.js') -%>
<% script('/javascripts/controllers/diaryitemsController.js') -%>
<% script('/javascripts/controllers/diaryitemController.js') -%>
<% script('/javascripts/views/diaryitemView.js') -%>

<script type="text/x-handlebars" data-template-name="perfdiaryIndex">
	{{outlet headerBar}}
	<div class="container">
		<h2> Your performance diary is not set. Click below to create. </h2>
		<button class="btn btn-primary btn-md" id="btnCreateDisary" {{action 'createDiary'}}>Create Performance Diary</button>
	</div>
</script>
<script type="text/x-handlebars" data-template-name="notfound">
	{{outlet headerBar}}
	<div class="container">
		<h2> User Performance diary is not set. </h2>		
	</div>
</script>
<script type="text/x-handlebars" data-template-name="perfdiary">
	{{outlet headerBar}}
	<div class="container">
			<h2> Performance Diary - <strong><%= employee.firstName %></strong> </h2>
			<h4> Review Cycle (<%= cycle.startDate %> - <%= cycle.endDate %>)</h4>
			<hr />			
		<table class="table table-striped table-responsive table-bordered">
			<tr>
				<th class="col-sm-1 text-center"> Index</th>
				<th class="col-sm-2 text-center"> Added On</th>
				<th class="col-sm-2 text-center"> Added By</th>
				<th class="text-center"> Description</th>
				<th class="col-sm-1 text-center"> Actions</th>
			</tr>
			{{#each diaryitem in diaryitems itemController="diaryitem"}}
				{{#view UpRaise.DiaryitemView contentBinding="this"}}
					{{#if isEditing}}
				
						<td> {{view.adjustedIndex}}</td>
						<td></td>
						<td></td>
						<td> {{textarea classNames="form-control" placeholder="Enter Details" value=description }} </td>
						<td>
							<a {{action "cancel"}} href="#">Cancel</a>
							<a {{action "save" target=view}} href="#">Save</a>
						</td>

					{{ else }}
					
						<td> {{view.adjustedIndex}} </td>
						<td> {{addedOn}} </td>
						<td> {{addedByName}} </td>
						<td> {{description}} </td>							
						<td>
							{{#if canEdit}}
								<a {{action "edit"}} href="#"> Edit </a>
								<a {{action "showDeleteModal"}} href="#"> Delete </a>
							{{/if}}
						</td>
					
					{{/if}}
				{{/view}}
			{{/each}}
			{{#if showAdd}}
				<tr>
					<td> {{nextIndex}} </td>
					<td> </td>
					<td> </td>
					<td> {{textarea classNames="form-control" id="new-description" placeholder="Enter Details" value=description }} </td>
					<td>
						<a {{action "cancel"}}>Cancel</a>
						<a {{action "save"}}>Save</a>
					</td>
				</tr>
			{{/if}}
		</table>	
		<div class="col-md-4 text-left">
				<button class="btn btn-primary btn-md" id="btnAdd" {{action 'showAdd'}}>Add</button>
		</div>			
	</div>
</script>
<script type="text/x-handlebars" data-template-name="delete-modal">
	<p class="text-warning"><strong>Are you sure you want to delete this item?</strong></p>
	<p class="text-info"><em>This action is irreversible.</em></p>
</script>
