extends layout

block content
	div.container
		h2 Performance Diary <small>(Varun Jain)</small>
		
		hr	
		div
			table.table.table-striped.table-bordered.table-responsive
				tr
					th.text-center Index
					th.text-center Added on
					th.text-center Added by
					th.text-center Description					
				tr
					td.text-center 19
					td.text-center 12th Jun 13
					td.text-center Varun Jain
					td Conducted FG 13 training on test automation practices.
				tr
					td.text-center 18
					td.text-center 12th Jun 13
					td.text-center Varun Jain
					td Conducted FG 13 training on test automation practices.
				tr
					td.text-center 17
					td.text-center 12th Jun 13
					td.text-center Varun Jain
					td Conducted FG 13 training on test automation practices.
				tr
					td.text-center 16
					td.text-center 12th Jun 13
					td.text-center Varun Jain
					td Conducted FG 13 training on test automation practices.
				tr
					td.text-center 15
					td.text-center 12th Jun 13
					td.text-center Alpha Romeo
					td Conducted FG 13 training on test automation practices.
			button.btn.btn-primary.btn-md Add New
			
				